<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left-div -->
                    <div class="col-md-10 col-12 main_header_left align-items-center center">
                        <figure class="errimg">
                            <img src="images/404error.svg" alt="Saurabh" class="img-fluid" title="thapa technical" >
                        </figure>
                        <p>Welcome to Army Institue of Technology</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                        
                    <!-- right-div -->
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>