<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left-div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Saurabh" class="img-fluid" title="thapa technical" height="5" widht="5">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Army Institue of Technology</p>
                        <h1>I am a <span class="text_clr">MERN Stack</span> developer, student , Basketball player</h1>
                        <a href="https://www.facebook.com/saurabhsingh.chauhan.37819" target="__thapa"><button href="">About me</button></a>
                    </div>
                    <!-- right-div -->
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>